<%=stylesheet_link_tag "simple" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        </head>
<link href="https://fonts.googleapis.com/css?family=Playfair+Display|Playball|Cardo|Cantarell:400i" rel="stylesheet">
        <body class="stretched ">
            <div id="wrapper" class=" fallback-message clearfix" style="background: transparent;">
                <div href="#home" id="logo">
                    <a href="#home" class="standard-logo" data-dark-logo="assets/logo.png"><img class="IP_logo" href="#home" style="height:100px; position: fixed; top: 5vh; left:2.5vw; z-index: 1000;" src="assets/logo.png" alt="IdeaPortal Logo"></a>
                    <a href="#home" class="retina-logo" data-dark-logo="assets/logo.png"><img src="assets/logo.png" alt="IdeaPortal Logo"></a>
                </div>
                <!-- #logo end -->
                <header id="header" class=" header transparent side-header-right" style="background:transparent !important;position: fixed; top: 5vh; height:50vh; width:10vw; right:10vw; z-index: 1000;">
                    <div id="header-wrap" style="background:transparent">
                        <div class="container clearfix nomargin nopadding" style="width:100%">
                            <div id="primary-menu-trigger" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="pointer-events:auto;"><i class="icon-reorder" style=""></i></div>
                            <div class="collapse navbar-collapse" id="myNavbar">
                                <nav id="primary-menu" class="navbar">

                                    <ul class="ip_nav" style="display: flex;flex-direction: column; height: 50vh">
                                        <li><a class="blink" href="#baba" style="color: #3AFF00">BabaG</a>
                                        </li>
                                        <li><a href="#about">About</a>
                                        </li>
                                        <li><a href="#people">People</a>
                                        </li>
                                        <li><a href="#careers">Careers</a>
                                        </li>
                                        <li><a href="#contact">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </header>
                <section id="content" class="full-screen with-header  clearfix" style="background: transparent;">
                    <div class="container clearfix nomargin nopadding" style="min-height:100vh; min-width: 100vw; background: transparent;">

                        <div id="simple" style="background: white;perspective: 5500px !important;">

                            <div id="home" class="step nomargin"  data-x="1050" data-y="-299" data-rotate="0" data-scale="1">

                                <div class="col_full center nomargin nopadding" style=" display: flex;flex-direction: column-reverse;justify-content: space-between; min-height: 50vh;background: white">

                                    <div class="center divcenter row clearfix commonheight leftmargin-sm" style=" ">

                                        <h2 class=" herotext" style="background: transparent;  font-weight: 200;">
                                            <div class="heroimage"></div>
                                            <b class="IP_heading" style="">IdeaPortal</b><br><i class="IP_subheading" style="">Breathing Life Into Vision</i>
                                        </h2>

                                    </div>
                                </div>

                                <div class="col_full center nomargin nopadding" style=" min-height: 50vh; max-height:50vh; background: #F7F5E9">

                                    <div class="center divcenter row clearfix commonheight " style="background:transparent; margin-top: 4vh">
                                        <p class="IP_content" style=""> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non velit sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                                    </div>
                                </div>
                            </div>

                            <div id="baba" class="step" data-x="325" data-y="955" data-rotate="60" data-scale="1">

                                <div class="col_full center nomargin nopadding" style=" display: flex;flex-direction: column-reverse;justify-content: space-between; min-height: 50vh;background: white">

                                    <div class="center divcenter row clearfix commonheight leftmargin-sm" style=" ">
                                        <h2 class=" herotext" style="background: transparent;  font-weight: 200;">
                                            <div class="babag"></div>
                                            <div class="heroimage"></div>
                                            <b class="IP_heading" style="">BabaG</b><br><i class="IP_subheading" style="">Namma smart friend!</i>
                                            <br>
                                            <a href="https://www.facebook.com/babaglive/" target="_blank"> <i class="col icon-facebook-sign" style="font-size:30px;color:#3b5998;"></i></a>
                                          <a href="#baba"><i class="col fa fa-whatsapp" style="font-size:30px;color:#34af23" data-toggle="popover" data-placement="top" data-content="Send us a hi on 733-832-2224 to get started"></i></a>
                                        </h2>


                                    </div>
                                </div>
                                <div class="col_full center nomargin nopadding" style=" min-height: 50vh; max-height:50vh; background: #F7F5E9">

                                    <div class="center divcenter row clearfix commonheight " style="background:transparent; margin-top: 4vh">

                                        <br>
                                        <br>

                                        <div id="1" style="width: 33%;float: left">
                                           <button id="babag-what" class="button button-large button-border button-rounded tright IP_button" style="width: auto; padding: 0px 43px"><b>What?</b></button>
                                            <div id="babag-what-answer" style='display:none;color:black;'>
                                              <p>
                                                foo foo bar bar<br> foo bar foo bar
                                              </p>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <div id="2" style="width: 33%;float: left">
                                          <button id="babag-why" class="button button-large button-border button-rounded tright IP_button" style="width: auto; padding: 0px 43px"><b>Why?</b></button>

                                          <div id="babag-why-answer" style='display:none;color:black;'>
                                            <p >
                                              foo foo bar bar<br> foo bar foo bar
                                            </p>
                                          </div>
                                        </div>
                                        <!--  -->
                                        <div id='3' style="width: 33%;float: left">

                                          <button id="babag-who" class="button button-large button-border button-rounded tright IP_button" style="width: auto; padding: 0px 43px"><b>Who?</b></button>

                                          <div id="babag-who-answer" style='display:none;color:black;'>
                                            <p ">
                                                foo foo bar bar<br> foo bar foo bar
                                            </p>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="about" class="step" data-x="-1125" data-y="955" data-rotate="120" data-scale="1">
                                <div class="col_full center nomargin nopadding" style=" display: flex;flex-direction: column-reverse;justify-content: space-between; min-height: 40vh;background: white">

                                    <div class="center divcenter row clearfix commonheight leftmargin-sm" style=" ">
                                        <h2 class=" herotext" style="background: transparent;  font-weight: 200; text-align: left">
                                            <div class="heroimage">

                                            </div>
                                             <div class="heading-block center">
                                                    <p class="IP_subheading" style="">What we bring on to the table!</p>
                                                </div>
                                        </h2>
                                    </div>
                                </div>
                                <div class="col_full center nomargin nopadding" style=" min-height: 50vh; max-height:50vh; background: #F7F5E9">

                                    <div class="center divcenter row clearfix commonheight " style="background:transparent; margin-top: 4vh">
                                        <div id="not_centered" class="col_one_third">
                                            <div class="feature-box fbox-small fbox-plain">
                                                <div class="fbox-icon">
                                                    <i class="icon-phone2 about_icon"></i>
                                                </div>
                                                <h3 class="fleft about_heading">FrontEnd Agility</h3>
                                                <div class="clear"></div>
                                                <p class="about_content" style=""> Our RESTful modelling allows all incubated products to have multiple front ends. Responsive Layouts ensure that our web pages remain app first.</p>
                                            </div>
                                        </div>

                                        <div id="not_centered" class="col_one_third">
                                            <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="200">
                                                <div class="fbox-icon">
                                                    <i class="icon-check about_icon"></i>
                                                </div>
                                                <h3 class="fleft about_heading">Test Driven</h3>
                                                <div class="clear"></div>
                                                <p class="about_content">Our focuss on TDD, continous integration, automated behavioural tests and developer testing ensure that all efforts stay focused and stack up without regression. </p>
                                            </div>
                                        </div>

                                        <div id="not_centered" class="col_one_third col_last">
                                            <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="400">
                                                <div class="fbox-icon">
                                                    <i class="icon-star2 about_icon"></i>
                                                </div>
                                                <h3 class="fleft about_heading">World Class DevOps</h3>
                                                <div class="clear"></div>
                                                <p class="about_content">Prod like development containers. Continous Integration and auto deployed staging environments. 12-factor friendly scalable, secure & reliable cloud environments. </p>
                                            </div>
                                        </div>

                                        <div class="clear"></div>

                                        <div id="not_centered" class="col_one_third">
                                            <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="600">
                                                <div class="fbox-icon">
                                                    <i class="icon-video about_icon"></i>
                                                </div>
                                                <h3 class="fleft about_heading">Presentation Centered</h3>
                                                <div class="clear"></div>
                                                <p class="about_content">Choose help on visual assets, imagery & videography along with context specific content and copy from a wide spectrum of external collaborators.</p>
                                            </div>
                                        </div>

                                        <div id="not_centered" class="col_one_third">
                                            <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="800">
                                                <div class="fbox-icon">
                                                    <i class="icon-params about_icon"></i>
                                                </div>
                                                <h3 class="fleft about_heading">Complete Control</h3>
                                                <div class="clear"></div>
                                                <p class="about_content">Organize and Manage Production Data; Realtime system analyses. Expert SEO and SEM. A/B & Experiment based decision making.</p>
                                            </div>
                                        </div>

                                        <div class="col_one_third col_last">
                                            <div class="feature-box fbox-small fbox-plain">
                                                <div class="fbox-icon">
                                                    <i class="icon-fire about_icon"></i>
                                                </div>
                                                <h3 class="fleft about_heading" style="">Agile Teams</h3>
                                                <div class="clear"></div>
                                                <p class="about_content">Pair programming. Pace and goal based staffing. Transparency in work.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="people" class="step" data-x="-1850" data-y="-300" data-rotate="180" data-scale="1">

                                <div class="col_full center nomargin nopadding" style=" display: flex;flex-direction: column-reverse;justify-content: space-between; min-height: 50vh;background: white">

                                    <div class="center divcenter row clearfix commonheight leftmargin-sm" style=" ">
                                        <h2 class=" herotext" style="background: transparent;  font-weight: 200; text-align: left">
                                            <div class="heroimage"></div>
                                            <p class="other_content" style="">
                                                <i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> Quisque sit amet lorem vitae tellus vulputate posuere quis sed arcu.<br> Vivamus venenatis metus ut augue sollicitudin, id eleifend libero pretium.<br>Curabitur euismod imperdiet nisi, vel luctus sapien pharetra at.</i>
                                            </p>
                                        </h2>
                                    </div>
                                </div>

                                <div class="col_full center nomargin nopadding" style=" min-height: 50vh; max-height:50vh; background: #F7F5E9">

                                    <div class="center divcenter row clearfix commonheight " style="background:transparent; margin-top: 4vh">

                                        <p class="people-more section-content-more">

                                            <a class="person-link IP_person" href="https://www.linkedin.com/in/achal-kaundinya-2a222a127/" target="_blank">
                                                <img alt="Achal Kaundinya" class="human grayscale" src="assets/Achal.jpg" />
                                            </a>

                                            <a class="person-link IP_person" href="https://www.linkedin.com/in/bharat-ganesh-01042053/" target="_blank">
                                                <img alt="Bharat Ganesh" class="human grayscale" src="assets/Bharat.jpg" />
                                            </a>

                                            <a class="person-link IP_person" href="https://www.linkedin.com/in/darshanputtannaiah/" target="_blank">
                                                <img alt="Darshan Puttanaiha" class="human grayscale" src="assets/Darshan.jpg" />
                                            </a>

                                            <a class="person-link IP_person" href="https://www.linkedin.com/in/disha-suresh-062998a0/" target="_blank">
                                                <img alt="Disha Suresh" class="human grayscale" src="assets/Disha.jpg" />
                                            </a>

                                            <a class="person-link IP_person" href="https://www.linkedin.com/in/kratik-nayak-a75012b6/" target="_blank">
                                                <img alt="Kratik Nayak" class="human grayscale" src="assets/Kratik.jpg" />
                                            </a>

                                            <br>

                                            <a class="person-link IP_person" href="https://www.linkedin.com/in/krishna-m-v-89a349137/" target="_blank">
                                                <img alt="Krishna MV" class="human grayscale" src="assets/Krishna.jpg" />
                                            </a>

                                            <a class="person-link IP_person" href="https://www.linkedin.com/in/nikhil-vallishayee-81990615/" target="_blank">
                                                <img alt="Nikhil V V" class="human grayscale" src="assets/Nik.jpg" />
                                            </a>

                                            <a class="person-link IP_person" href="https://www.linkedin.com/in/shyamal-bhat-65645796/" target="_blank">
                                                <img alt="Shymal Bhatt" class="human grayscale" src="assets/Shyamal.jpg" />
                                            </a>

                                            <a class="person-link IP_person" href="https://www.linkedin.com/in/vikram-devaiah-39156976/" target="_blank">
                                                <img alt="Vikram" class="human grayscale" src="assets/Vikram.jpg" />
                                            </a>
                                        </p>

                                    </div>

                                </div>
                                </h2>
                            </div>

                            <div id="careers" class="step" data-x="-1124" data-y="-1555" data-rotate="240" data-scale="1">

                                <div class="col_full center nomargin nopadding" style=" display: flex;flex-direction: column-reverse;justify-content: space-between; min-height: 50vh;background: white">

                                    <div class="center divcenter row clearfix commonheight leftmargin-sm" style=" ">

                                        <h2 class=" herotext" style="background: transparent;  font-weight: 200; text-align: left">
                                            <div class="heroimage"></div>

                                            <p class="other_content">
                                                <i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> Quisque sit amet lorem vitae tellus vulputate posuere quis sed arcu.<br> Vivamus venenatis metus ut augue sollicitudin, id eleifend libero pretium.<br>Curabitur euismod imperdiet nisi, vel luctus sapien pharetra at.</i>
                                            </p>
                                        </h2>
                                    </div>
                                </div>

                                <div class="col_full center nomargin nopadding" style=" min-height: 50vh; max-height:50vh; background: #F7F5E9">

                                    <div class="center divcenter row clearfix commonheight " style="background:transparent; margin-top: 4vh">

                                        <div style="width: 33%;float: left">
                                            <button id="careers1" class="button button-large button-border button-rounded tright career_button" style="float: left; left: 15%; width: auto;"><b style="text-align:center;">Developer</b></button>
                                            <p id="careers1-answer" style='display:none;color:black;'>foo foo bar bar
                                                <br> foo bar foo bar
                                            </p>
                                        </div>
                                        <div style="width: 33%;float: left">
                                            <button id="careers2" class="button button-large button-border button-rounded tright career_button" style=" width: auto; padding: 0px 43px"><b style="text-align:center;">Editor</b></button>>
                                            <p id="careers2-answer" style='display:none;color:black'>
                                                foo foo bar bar
                                                <br> foo bar foo bar
                                            </p>
                                        </div>
                                        <div style="width: 33%;float: right;">
                                            <button id="careers3" class="button button-large button-border button-rounded tright career_button" style="float: right; right: 15%; width: auto;"><b style="text-align:center;">Operations</b></button>>
                                            <p id="careers3-answer" style='display:none;color:black;'>
                                                foo foo bar bar
                                                <br> foo bar foo bar
                                            </p>
                                        </div>

                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <div style="width: 33%;float: left">
                                            <button id="careers4" class="button button-large button-border button-rounded tright career_button" style="float: left; left: 15%; width: auto;"><b style="text-align:center;">Copy Editor</b></button>>
                                            <p id="careers4-answer" style='display:none;color:black;'>
                                                foo foo bar bar
                                                <br> foo bar foo bar
                                            </p>
                                        </div>
                                        <div style="width: 33%;float: left">
                                            <button id="careers5" class="button button-large button-border button-rounded tright career_button" style="width: auto;"><b style="text-align:center;">Designer</b></button>>
                                            <p id="careers5-answer" style='display:none;color:black'>
                                                foo foo bar bar
                                                <br> foo bar foo bar
                                            </p>
                                        </div>
                                        <div style="width: 33%;float: right;">
                                            <button id="careers6" class="button button-large button-border button-rounded tright career_button" style="float: right; right: 15%; width: auto;"><b style="text-align:center;">Animator</b></button>>
                                            <p id="careers6-answer" style='display:none;color:black;'>
                                                foo foo bar bar
                                                <br> foo bar foo bar
                                            </p>
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div id="contact" class="step"  data-x="325" data-y="-1555" data-rotate="300" data-scale="1">
                                <div class="col_full center nomargin nopadding" style=" display: flex;flex-direction: column-reverse;justify-content: space-between; min-height: 25vh;background: white">

                                    <div class="center divcenter row clearfix commonheight leftmargin-sm" style=" ">
                                        <h2 class=" herotext" style="background: transparent;  font-weight: 200; text-align: left">
                                            <div class="heroimage"></div>
                                            <p class="IP_subheading" style="font-size:15px;">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> Quisque sit amet lorem vitae tellus vulputate posuere quis sed arcu.
                                            </p>
                                        </h2>
                                    </div>
                                </div>
                                <div class="content-box col_full center nomargin nopadding IP_form" style=" min-height: 50vh; max-height:50vh; background: #F7F5E9">

                                    <div class="center divcenter row clearfix commonheight " style="background:transparent; margin-top: 4vh">
                                        <%= bootstrap_form_for @contact,label_errors: true, inline_errors: true, url: contacts_path, method: :post, :remote => true do |f|%>
                                            <%= f.text_field :name, :required => true%>
                                            <%= f.email_field :email, :required => true%>
                                            <%= f.text_area :message, rows: 7 , class: 'content-box', :required => true%>
                                            <%= f.submit "Send message", class: "btn btn-primary"%>
                                        <%end%>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <footer style="margin-top:95vh;">
                            <div class="col_full center nomargin nopadding" style="font-size: .9em">
                                <i>Copyright - IdeaPortal Services Pvt Ltd - 2017</i>
                            </div>
                        </footer>
                    </div>
                </section>
            </div>
        </body>
        <%= javascript_include_tag 'jmpress' %>
            <script>
            bumbum = 1;
            setTimeout(function() {
                $('#simple').jmpress({
                    animation: {
                        transformOrigin: 'center center', // Point on which to transform (unused)
                        transitionDuration: '2s', // Length of animation
                        transitionDelay: '500ms', // Delay before animating
                        transitionTimingFunction: 'ease', // Animation effect
                        stepSelector: 'p'
                    },
                    transitionDuration: 2000 // Set this according to animation.transitionDuration
                        // It is used for setting the timeout for the transition
                });
                $(["baba", "about", "people", "careers", "contact"]).each(function() {
                    console.log(this);
                    console.log($('#' + this));
                    var self = this
                    $('#' + this).on('enterStep', function(event) {
                        jQuery.expr[":"].Contains = jQuery.expr.createPseudo(function(arg) {
                            return function(elem) {
                                return jQuery(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
                            };
                        });
                        if ($('ul.ip_nav li a:Contains(' + self + ')')[0]) {
                            $($('ul.ip_nav li a:Contains(' + self + ')')[0]).addClass('selected')
                        }
                        console.log($('ul.ip_nav li a:Contains(' + self + ')')[0]);
                    });
                    $('#' + this).on('leaveStep', function(event) {
                        jQuery.expr[":"].Contains = jQuery.expr.createPseudo(function(arg) {
                            return function(elem) {
                                return jQuery(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
                            };
                        });
                        if ($('ul.ip_nav li a:Contains(' + self + ')')[0]) {
                            $($('ul.ip_nav li a:Contains(' + self + ')')[0]).removeClass('selected')
                        }
                    });
                });
            });
            $(document).ready(function() {
                $('#babag-what').click(function() {
                    $('#babag-what').hide();
                    $('#babag-what-answer').show(1000);
                })
                $('#babag-what-answer').click(function() {
                    $('#babag-what-answer').hide();
                    $('#babag-what').show();
                })
                $('#babag-why').click(function() {
                    $('#babag-why').hide();
                    $('#babag-why-answer').show(1000);
                })
                $('#babag-why-answer').click(function() {
                    $('#babag-why-answer').hide();
                    $('#babag-why').show();
                })
                $('#babag-who').click(function() {
                    $('#babag-who').hide();
                    $('#babag-who-answer').show(1000);
                })
                $('#babag-who-answer').click(function() {
                    $('#babag-who-answer').hide();
                    $('#babag-who').show();
                })
                $('#careers1').click(function() {
                    $('#careers1').hide();
                    $('#careers1-answer').show(1000);
                })
                $('#careers1-answer').click(function() {
                    $('#careers1-answer').hide();
                    $('#careers1').show();
                })
                $('#careers2').click(function() {
                    $('#careers2').hide();
                    $('#careers2-answer').show(1000);
                })
                $('#careers2-answer').click(function() {
                    $('#careers2-answer').hide();
                    $('#careers2').show();
                })
                $('#careers3').click(function() {
                    $('#careers3').hide();
                    $('#careers3-answer').show(1000);
                })
                $('#careers3-answer').click(function() {
                    $('#careers3-answer').hide();
                    $('#careers3').show();
                })
                $('#careers4').click(function() {
                    $('#careers4').hide();
                    $('#careers4-answer').show(1000);
                })
                $('#careers4-answer').click(function() {
                    $('#careers4-answer').hide();
                    $('#careers4').show();
                })
                $('#careers5').click(function() {
                    $('#careers5').hide();
                    $('#careers5-answer').show(1000);
                })
                $('#careers5-answer').click(function() {
                    $('#careers5-answer').hide();
                    $('#careers5').show();
                })
                $('#careers6').click(function() {
                    $('#careers6').hide();
                    $('#careers6-answer').show(1000);
                })
                $('#careers6-answer').click(function() {
                    $('#careers6-answer').hide();
                    $('#careers6').show();
                })
            });
            $(function () {
                $('[data-toggle="popover"]').popover()
            });
            $('.icon-reorder').click(function() {
                $(this).css("line-height","41vh");
                $(this).css("margin-left","-8vw");
                $(this).toggleClass('icon-reorder');
                $(this).toggleClass('fa fa-times');
            });
            </script>
